<div class="table-respond">
    <table class="size-chart">
        <thead>
            <tr>
                <th>Size</th>
                <th>US/Canada</th>
                <th class="has-dropdown">
                    <div class="dropdown">
                        <a class="dropdown-trigger" data-toggle="dropdown" href="#">
                            United Kingdom
                        </a>
                        <div class="dropdown-container">
                            <ul class="dropdown-menu" role="menu">
                                <li><a data-country-trigger="au" href="#">Australia</a></li>
                                <li><a data-country-trigger="ch" href="#">China</a></li>
                                <li><a data-country-trigger="fr" href="#">France</a></li>
                                <li><a data-country-trigger="jp" href="#">Japan</a></li>
                                <li class="is-active"><a data-country-trigger="uk" href="#">United Kingdom</a></li>
                            </ul>
                        </div>
                    </div>
                </th>
                <th>Bust</th>
                <th>Bra-size</th>
                <th>Waist</th>
                <th>High Waist</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each swim}}
            <tr>
                <td class="uppercase">
                    {{size}}
                </td>
                <td>
                    {{#loopArr us}}
                    <div>{{this}}</div>
                    {{/loopArr}}
                </td>
                <td>
                    {{#loopArr uk}}
                    <div data-country="uk" class="is-active">{{this}}</div>
                    {{/loopArr}}
                    {{#loopArr australia}}
                    <div data-country="au" class="is-hidden">{{this}}</div>
                    {{/loopArr}}
                    {{#loopArr china}}
                    <div data-country="ch" class="is-hidden">{{this}}</div>
                    {{/loopArr}}
                    {{#loopArr france}}
                    <div data-country="fr" class="is-hidden">{{this}}</div>
                    {{/loopArr}}
                    {{#loopArr japan}}
                    <div data-country="jp" class="is-hidden">{{this}}</div>
                    {{/loopArr}}
                </td>
                <td>
                    {{#loopArr bust}}
                    <div data-unit="inches" class="is-active">{{this}}"</div>
                    {{/loopArr}}
                    {{#loopArr bust-cm}}
                    <div data-unit="cm" class="is-hidden">{{this}} cm</div>
                    {{/loopArr}}
                </td>
                <td>
                    {{#loopArr bra-size}}
                    <div class="two-column-table">{{this}}</div>
                    {{/loopArr}}
                </td>
                <td>
                    {{#loopArr waist}}
                    <div data-unit="inches" class="is-active">{{this}}"</div>
                    {{/loopArr}}
                    {{#loopArr waist-cm}}
                    <div data-unit="cm" class="is-hidden">{{this}} cm</div>
                    {{/loopArr}}
                </td>
                <td>
                    {{#loopArr high-waist}}
                    <div>{{this}}</div>
                    {{/loopArr}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p class="foot-note">
    All conversions are approximate and may vary by label, brand, or personal preference of fit.
    </p>
    <div class="two-column grid group">
        <div class="column">
            <h3>How to Measure</h3>
           <img src="./dest/assets/SizeChart_Swim.jpg">
        </div>
        <div class="column margin-top-large">
            <h4>Bust</h4>
            <p>
            Measure under your arms at the fullest part of your bust.
            Keep the tape level.
            </p>
            <h4>High Waist</h4>
            <p>
            Measure around your natural waistline, keeping the tape
            comfortably loose. This is the narrowest part of the body
            between the ribs and the hips.
            </p>
            <h4>Hips</h4>
            <p>
            Stand with your feet together and measure around
            the fullest part of your hips
            </p>
        </div>
    </div>
</div>