<table class="size-chart">
    <thead>
        <tr>
            <th>Size</th>
            <th>US Size</th>
            <th class="dropdown">
              <a class="dropdown-trigger" data-toggle="dropdown" href="#">
              UK Sizes
              </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a data-country-trigger="uk" href="#">UK Sizes</a></li>
                    <li><a data-country-trigger="au" href="#">Australia</a></li>
                    <li><a data-country-trigger="ch" href="#">China</a></li>
                    <li><a data-country-trigger="fr" href="#">France</a></li>
                    <li><a data-country-trigger="jp" href="#">Japan</a></li>
                </ul>
            </th>
            <th>Bust</th>
            <th>Bra-size</th>
            <th>Waist</th>
            <th>High Waist</th>
           
        </tr>
    </thead>
    <tbody>
        {{#each swim}}
        <tr>
            <td class="uppercase">
                {{size}}
            </td>
            <td>
                {{#loopArr us}}
                <div>{{this}}</div>
                {{/loopArr}}
            </td>
            <td>
                {{#loopArr uk}}
                <div data-country="uk" class="is-active">{{this}}</div>
                {{/loopArr}}
                {{#loopArr australia}}
                <div data-country="au" class="is-hidden">{{this}}</div>
                {{/loopArr}}
                {{#loopArr china}}
                <div data-country="ch" class="is-hidden">{{this}}</div>
                {{/loopArr}}
                {{#loopArr france}}
                <div data-country="fr" class="is-hidden">{{this}}</div>
                {{/loopArr}}
                {{#loopArr japan}}
                <div data-country="jp" class="is-hidden">{{this}}</div>
                {{/loopArr}}
            </td>
            <td>
                {{#loopArr bust}}
                    <div data-unit="inches" class="is-active">{{this}}"</div>
                {{/loopArr}}
                {{#loopArr bust-cm}}
                    <div data-unit="cm" class="is-hidden">{{this}} cm</div>
                {{/loopArr}}
            </td>
            <td>
                {{#loopArr bra-size}}
                <div class="bra-sizes">{{this}}</div>
                {{/loopArr}}
            </td>
            <td>
                {{#loopArr waist}}
                    <div data-unit="inches" class="is-active">{{this}}"</div>
                {{/loopArr}}
                {{#loopArr waist-cm}}
                    <div data-unit="cm" class="is-hidden">{{this}} cm</div>
                {{/loopArr}}
            </td>
            <td>
                {{#loopArr high-waist}}
                <div>{{this}}</div>
                {{/loopArr}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>